@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

html {
    scroll-behavior: smooth;
    visibility: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #161616;
}
/* GENERAL RULES */
a {
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

.content-font {
    font-family: "Titillium Web", sans-serif;
}

.text-main-orange {
    color: #F05E23;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.bg-gray {
    background-color: #161616;
}

/* NAV */
#mainNav {
    background-color: transparent;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #F05E23;
    border: 1px solid #F05E23;
}

#mainNav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

#mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    letter-spacing: 5px;
}

#navbarResponsive ul li.active a {
    text-decoration: none;
    color: #F05E23;
    text-transform: uppercase;
}


/* NAV BAR AFTER COLLAPSE */
#mainNav.navbar-shrink {
    background-color: #141414;
    opacity: 0.97;
}

#mainNav.navbar-shrink .navbar-brand {
    color: #9A9A9A;
}

#mainNav.navbar-shrink .nav-link {
    color: #9A9A9A;
}

#mainNav.navbar-shrink .nav-link:hover {
    color: #F05E23;
}

/* BUTTONS */
.btn-primary {
    background-color: #141414;
}

.btn-primary:hover {
    background-color: #191818;
    color: #F05E23;
}

.btn-primary:focus {
    background-color: #191818;
}

/* CARDS */ 
.contact-section .card {
    background-color: #191818;
    color: #fafafa;
    border-bottom: 0.25rem solid #F05E23;
}

.contact-section .card hr {
    border-color: #F05E23;
    border-width: 0.25rem;
    width: 3rem;
}

/* MASTHEAD */

.masthead {
    background: linear-gradient(to bottom,rgba(22,22,22,.3) 0,rgba(22,22,22,.7) 75%,#161616 100%),url("https://res.cloudinary.com/daao8cm2f/image/upload/v1675898696/static/img/main-image.ffcb4c7f21c3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* CONTENT */

.projects-section {
    padding: 0;
}

.projects-section hr {
    border-color: #F05E23;
    border-width: 0.25rem;
    width: 10rem;
}

.projects-section .project-text hr {
    border-color: #F05E23;
    border-width: 0.25rem;
    width: 30%;
}

.content-header {
    margin-bottom: 1rem;
}

.option-container {
    display: flex;
    justify-content: center;
}

.option-bg-img1,
.option-bg-img2,
.option-bg-img3,
.option-bg-img4 {
    height: 60vh;
    display: grid;
    align-items: center;
}

.option-bg-img1 {
    background-image: url(https://res.cloudinary.com/daao8cm2f/image/upload/v1675898663/static/img/artsy-gallery/artsy7.f4e2bbd64221.webp);
    background-position: center center;
    background-size: cover;
}

.option-bg-img2 {
    background-image: url(https://res.cloudinary.com/daao8cm2f/image/upload/v1675898693/static/img/urban2.803202a4c910.webp);
    background-position: center center;
    background-size: cover;
}

.option-container a {
    opacity: .9;
}

.option-item {
    font-size: 120%;
}

/* FORM */

.form-item {
    margin: 10px 0;
}

input,
textarea {
    width: 100%;
    color: #9A9A9A;
    background-color: #161616;
    outline: none;
    border: none;
    border-bottom: 1px solid #9A9A9A;
}

input:hover,
textarea:hover {
    border: none;
    border-bottom: 1px solid #F05E23;
}

textarea {
    height: 160px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #9A9A9A;
}

/* REGISTRATION-LOGIN STYLES */

.container-top-margin {
    margin-top: 10%;
    color: white;
}

/* GALLERY MASONRY */

.gal {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}	
.gal img {
    width: 100%;
    padding: 7px 0;
}
@media (max-width: 500px) {
	.gal {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
}

/* Image Modals */
/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    float: none;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .overlay-btn {
    margin-right: 20px;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }