{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="container container-top-margin">


    <h1 class="text-center">Latest Artsy</h1>
    <div class="col-md-12">
        <div class="row">
            <hr>
            <div class="gal">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy13.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy4.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy5.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy6.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/artsy-gallery/artsy7.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy8.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy9.webp' %}" alt="">
                
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy10.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy11.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/artsy-gallery/artsy12.webp' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->

<div id="myModal" class="modal text-center" tabindex="-1" role="dialog">
        <img class="modal-content" id="imgModal">
        {% if user.is_authenticated %}
        <button id="favourites-btn" class="uppercase btn btn-primary overlay-btn">Add to Favourites</button>
        {% endif %}
        <span class="close">&times;</span>
</div>
{% endblock %}