{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="container container-top-margin">


    <h1>Latest Artsy</h1>
    <div class="col-md-12">
        <div class="row">
            <hr>

            <div class="gal">

                <img src="{% static 'img/artsy-latest/artsy1.JPG' %}" alt="">

                <img src="{% static 'img/artsy-latest/artsy2.JPG' %}" alt="">

                <img src="{% static 'img/artsy-latest/artsy3.jpg' %}" alt="">

                <img src="{% static 'img/artsy-latest/artsy4.jpg' %}" alt="">



                <img src="{% static 'img/artsy-latest/artsy5.jpg' %}" alt="">
                <img src="{% static 'img/artsy-latest/artsy6.jpg' %}" alt="">
                <img src="{% static 'img/artsy-latest/artsy11.jpg' %}" alt="">
                <img src="{% static 'img/artsy-latest/artsy12.jpg' %}" alt="">

                <img src="{% static 'img/artsy-latest/artsy7.jpg' %}" alt="">

                <img src="{% static 'img/artsy-latest/artsy8.jpg' %}" alt="">

                <img src="{% static 'img/artsy-latest/artsy9.jpg' %}" alt="">
                <img src="{% static 'img/artsy-latest/artsy10.jpg' %}" alt="">
                <img src="{% static 'img/artsy-latest/artsy13.jpg' %}" alt="">
                
                


            </div>

        </div>
    </div>
</div>
{% endblock %}