{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="container container-top-margin">


    <h1 class="text-center">Latest Artsy</h1>
    <div class="col-md-12">
        <div class="row">
            <hr>
            <div class="gal">
                {% for photo in ArtsyPhotos %}
                    <img class="myImg" src={{photo.featured_image.url}} alt="">
                    <!-- The Modal -->
                    <div id="myModal_{{photo.slug}}" class="modal text-center" tabindex="-1" role="dialog">
                        <img class="modal-content" id="imgModal_{{photo.slug}}">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'artsy_favourite' photo.slug %}" method="POST">
                            {% csrf_token %}
                            {% if favourited %}
                            <button id="favourites-btn" type="submit" name="favourite" value="{{photo.slug}}" class="uppercase btn btn-primary overlay-btn">Remove From Favourites</button>
                            {% else %}
                            <button id="favourites-btn" type="submit" name="favourite" value="{{photo.slug}}" class="uppercase btn btn-primary overlay-btn">Add To Favourites</button>
                            {% endif %}
                        {% endif %}
                        </form>
                        <span class="close">&times;</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}