{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="container container-top-margin">


    <h1 class="text-center">Favourited Images</h1>
    <div class="col-md-12">
        <div class="row">
            <hr>
            {% if 'placeholder' in Photos.feautured_image.url %}
            <h2 class="text-center text-white">You have no favourited images.</h2>
            {% else %}
            <div id="favourites-gal" class="gal">
            {% for photo in Photos %}
                <img class="myImg" src="" alt="">
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- The Modal -->

<div id="myModal" class="modal text-center" tabindex="-1" role="dialog">
    <img class="modal-content" id="imgModal">
    {% if user.is_authenticated %}
    <button class="uppercase btn btn-primary overlay-btn">Remove from Favourites</button>
    {% endif %}
    <span class="close">&times;</span>
</div>
{% endblock %}