{% extends "base.html" %}
{% load static %}
{% block title %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 id="page-heading" class="mx-auto my-0 text-uppercase">Gallery</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Check out my work latest work and galleries.</h2>
        <a href="#projects" class="btn btn-primary js-scroll-trigger">My Work</a>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}
    <h3 class="content-header text-center text-white uppercase">Gallery</h3>
    <hr class="my-4">

    <div class="row justify-content-center no-gutters">
        <div class="col-sm-12 col-md-6 option-bg-img1">
            <div class="option-container">
                <a href="{% url 'artsy-latest' %}" class="btn btn-primary option-item">Artsy</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 option-bg-img2">
          <div class="option-container">
              <a href="{% url 'production-latest' %}" class="btn btn-primary option-item">Production</a>
          </div>
      </div>
    </div>
{% endblock %}