{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="container container-top-margin">


    <h1 class="text-center">Latest Production</h1>
    <div class="col-md-12">
        <div class="row">
            <hr>
            <div class="gal">
                {% for photo in ProductionPhotos %}
                    <img class="myImg" src={{photo.featured_image.url}} alt="">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->

<div id="myModal" class="modal text-center" tabindex="-1" role="dialog">
    <img class="modal-content" id="imgModal">
    {% if user.is_authenticated %}
    <span>Add to favourites +</span>
    {% endif %}
    <span class="close">&times;</span>
</div>
{% endblock %}