{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="container container-top-margin">


    <h1 class="text-center">Latest Production</h1>
    <div class="col-md-12">
        <div class="row">
            <hr>
            <div class="gal">
                <img class="myImg" src="{% static 'img/production-gallery/production1.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/production2.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/production3.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/production4.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/production5.webp' %}" alt="">



                <img class="myImg" src="{% static 'img/production-gallery/production6.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/production7.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/production8.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/production9.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/production10.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/production11.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/production12.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/production13.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/production14.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/production15.webp' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->

<div id="myModal" class="modal text-center" tabindex="-1" role="dialog">
    <img class="modal-content" id="imgModal">
    {% if user.is_authenticated %}
    <span>Add to favourites +</span>
    {% endif %}
    <span class="close">&times;</span>
</div>
{% endblock %}