{% extends 'base.html' %}
{% load static %}
{% block title %}
<div class="container container-top-margin">


    <h1 class="text-center">Latest Production</h1>
    <div class="col-md-12">
        <div class="row">
            <hr>
            <div class="gal">
                <img class="myImg" src="{% static 'img/production-gallery/productionH1.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/productionH2.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/productionH3.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/productionH4.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/productionH5.webp' %}" alt="">



                <img class="myImg" src="{% static 'img/production-gallery/productionP1.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/productionP2.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/productionP3.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/productionP4.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/productionP5.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/productionM1.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/productionM2.webp' %}" alt="">

                <img class="myImg" src="{% static 'img/production-gallery/productionM3.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/productionM4.webp' %}" alt="">
                <img class="myImg" src="{% static 'img/production-gallery/productionM5.webp' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->

<div id="myModal" class="modal text-center" tabindex="-1" role="dialog">
    <img class="modal-content" id="imgModal">
    {% if user.is_authenticated %}
    <span>Add to favourites +</span>
    {% endif %}
    <span class="close">&times;</span>
</div>
{% endblock %}